<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><{$site_title}></title>
    <link href="<{$view_dir}>/public/css/admin.css" media="screen" rel="stylesheet" type="text/css">
    <!--html编辑框-->
    <link rel="stylesheet" type="text/css" href="<{$view_dir}>/public/simditor/styles/simditor.css" />
    <script type="text/javascript" src="<{$view_dir}>/public/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="<{$view_dir}>/public/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="<{$view_dir}>/public/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="<{$view_dir}>/public/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="<{$view_dir}>/public/simditor/scripts/simditor.js"></script>
</head>
<body>
<div class="body">
    <div class="header">
        <div>
            <span>谢俊的个人博客[简易后台]</span>
            <a class="go-front" href="/index.php/front"><span>去前台</span></a>
        </div>
    </div>
