<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><{$site_title}></title>
    <!--<script src="<{$view_dir}>/public/js/main.js"></script>-->
    <link href="<{$view_dir}>/public/css/front.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
<div class="body">
    <div class="header">
        <ul>
            <{foreach from=$nav_bar item=item}>
            <a href="/index.php/front-<{$item['url']}>">
                <li class="nav_li <{if $item['active']}>active<{/if}>">
                    <span>
                        <{$item['name']}>
                    </span>
                </li>
            </a>
            <{/foreach}>
            <li class="fr btn" style="float: right;margin-right: 35px;">
                <a href="/index.php/admin"><span>管理员</span></a>
            </li>
        </ul>
    </div>
