<{include "admin/block/header.html"}>
<div class="main">
    <div class="blog-menu">
        <a target="" href="/index.php/admin-blog_new"><span>添加</span></a>
    </div>
    <table class="admin_blog_tb">
        <tr>
            <th style="text-align: center;" class="width_pre_5">编号</th>
            <th class="width_pre_15">分类</th>
            <th class="width_pre_70">标题</th>
            <th class="width_pre_10">操作</th>
        </tr>
        <{if $blog}>
        <{foreach from=$blog item=item key=k}>
        <tr>
            <td style="text-align: center;"><{$k+1}></td>
            <td>
                <a href="#"><{$item.type}></a>
            </td>
            <td><{$item.title}></td>
            <td>
                <a href="/index.php/admin-blog_detail-<{$item.id}>">编辑</a>
                <a href="/index.php/admin-blog_delete-<{$item.id}>">删除</a>
            </td>
        </tr>
        <{/foreach}>
        <{else}>
        <tr>
            <td style="text-align: center;background: gray;padding: 15px 0px;color: white;" colspan="4">
                现在还没有内容，现在去
                <a style="color: brown;background-color: white;margin: 0px 0px;border-radius: 2px;" href="/index.php/admin-blog_new">添加一个</a> ？
            </td>
        </tr>
        <{/if}>
    </table>
</div>
<{include "admin/block/footer.html"}>