<{include "front/block/header.html"}>

<div class="main">
    <table class="front-content-list">
        <{if $blog}>
        <tr class="title-tr">
            <th style="width: 50px;">序号</th>
            <th style="width: 150px">分类名称</th>
            <th style="width: 700px">文章标题</th>
        </tr>
        <{foreach from=$blog item=item key=key}>
            <tr class="<{if $key%2==1}>d<{else}>s<{/if}>">
                <td style="text-align: center"><{$key+1}></td>
                <td style="text-align: center"><{$item.type}></td>
                <td style="text-align: left"><a href="/index.php/front-blog_detail-<{$item.id}>"><{$item.title}></td>
            </tr>
        <{/foreach}>
        <{else}>
        <div class="content-list-empty">
            <span>现在还没有内容~</span>
        </div>
        <{/if}>
    </table>
</div>

<{include "front/block/footer.html"}>