<{include "admin/block/header.html"}>

<div class="main">

    <div class="admin-top-btn">
        <a href="/index.php/admin">
            <span>返回</span>
        </a>
    </div>
    <form method="post" id="blog-form" action="/index.php/admin-blog_save">
        <table class="blog_detail">
            <tr>
                <td>
                    <{if $blog.id}>
                    <input class="hidden" type="text" name="id" value="<{$blog.id}>">
                    <{/if}>
                </td>
            </tr>
            <tr>
                <th>分类</th>
                <td><input type="text" name="type" value="<{$blog.type}>"> </td>
            </tr>
            <tr>
                <th>标题</th>
                <td><input type="text" name="title" value="<{$blog.title}>"> </td>
            </tr>
            <tr>
                <th>内容</th>
                <!--<td><input type="text" name="content" value="<{$blog.content}>"> </td>-->
                <td>
                    <textarea id="html-editor" name="content" value="<{$blog.content}> placeholder="请在此处输入文章" autofocus>
                        <{$blog.content}>
                    </textarea>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="input-sub" value="提交">提交</button>
                </td>
            </tr>

        </table>
    </form>

</div>

<script>
    var editor = new Simditor({
        textarea: $('#html-editor')
        //optional options
    });
</script>
<{include "admin/block/footer.html"}>